{% extends 'school/base.html' %}
{% block body_block %}
<div class="jumbotron">
    <p>Are you sure you want delete the school {{ student.name }} from the system?</p>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="Confirm">
<!--            <input class="btn btn-danger" type="submit" value="cancel">-->
             <a href="{{ view.get_success_url }}" class="btn btn-primary">Cancel</a>
<!--          <a class="btn btn-primary" href="{% url 'school:list'%}">Cancel</a>-->
        </form>
    </div>
</div>

{% endblock %}