argcomplete==1.12.0
argon2-cffi==20.1.0
asgiref==3.2.10
bcrypt==3.2.0
boto3==1.15.2
botocore==1.18.2
certifi==2020.6.20
cffi==1.14.2
cfn-flip==1.2.3
chardet==3.0.4
click==7.1.2
cryptography==3.0
defusedxml==0.6.0
Django==3.0.8
durationpy==0.5
Faker==4.1.1
future==0.18.2
hjson==3.0.2
idna==2.10
importlib-metadata==1.7.0
jira==2.0.0
jmespath==0.10.0
kappa==0.6.0
mccabe==0.6.1
mysqlclient==2.0.1
oauthlib==3.1.0
pbr==5.4.5
Pillow==7.2.0
pip-tools==5.3.1
placebo==0.9.0
pycodestyle==2.6.0
pycparser==2.20
pydocstyle==5.0.2
pyflakes==2.2.0
PyJWT==1.7.1
pylama==7.7.1
PyMySQL==0.10.0
python-dateutil==2.6.1
python-slugify==4.0.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
s3transfer==0.3.3
six==1.15.0
snowballstemmer==2.0.0
sqlparse==0.3.1
text-unidecode==1.3
toml==0.10.1
tqdm==4.49.0
troposphere==2.6.2
urllib3==1.25.10
Werkzeug==0.16.1
wsgi-request-logger==0.4.6
zappa==0.51.0
zipp==3.1.0
